@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/* text style */
/* about me section */
.about_me_content {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.h1 {
  font-weight: 500;
  font-size: 48px;
  color: #000;
  margin-bottom: 60px;
  line-height: 164.063%; /* 78.75px */
  font-style: normal;
}
.h2 {
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin-bottom: 58px;
}
.h5 {
  font-size: 21px;
  font-weight: 500;
}
.txt_sm {
  font-size: 13px;
  font-weight: 400;
}
.txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 164.063%;
  max-width: 540px;
}
.txt_grey {
  color: #727272;
}
.txt_black {
  color: #000;
}
.txt_white {
  color: #fff;
}
.button {
  background-color: #34547a;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.063%; /* 26.25px */
  letter-spacing: 1.6px;
  color: #151515;
  padding: 20px 41px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: transparent;

  box-shadow: 5px 5px 10px 1px #34547a;
}

.conteiner {
  max-width: 1355px;
  margin: 0 auto;
  padding: 0px 25px;
}
/* section style */
.first_section {
  background-color: white;
}
/* Navigation section */

.nav {
  padding-top: 79px;
  margin-bottom: 151px;
}

.nav_item {
  display: inline-block;
  margin-right: 42px;
}
.nav_link {
  font-style: normal;
  font-weight: 500;
  line-height: 164.063%; /* 26.25px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.nav_link.active {
  color: #34547a;
}

.nav_link:hover {
  color: #34547a;
}

/* main style */
.main {
  padding-bottom: 141px;
}
.main_h1 {
  margin-bottom: 60px;
}

/* About me */
.about_me {
  padding: 112px 0;
}

.about_me_h2 {
  margin-bottom: 50px;
}
.main_txt {
  margin-bottom: 65px;
}
.skills {
  background-color: #34547a;
  padding: 100px 0;
}
.skills_list {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  flex-wrap: wrap;
}

.skills_item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.skills_text {
  max-width: 71px;
}
/* process h2 */
.process {
  padding: 100px 0 100px;
}
.process_h2 {
  margin-bottom: 50px;
}
.process_content {
  margin-bottom: 57px;
}

.iframe {
  max-width: 1110px;
  height: 600px;
  margin: 0 auto;
  width: 100%;
  display: block;
  box-shadow: 15px 14px 36px 4px black;
  border-radius: 9px;
}
.footer {
  background-color: #34547a;
  padding: 50px 0px 50px;
}
.footer_h2 {
  margin-bottom: 20px;
}
